header {
  background-color: #16243b;
  height: 100px;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
}

